/* @override 
	http://localhost:5173/test-one/src/style.css?* */



  :root {
    --yelow:#fec702;  
    --borders:#eaeaea;
    --v-calendar-day-selected-color:#fec702;
    --v-calendar-day-selected-bg: #fec702;
    --blue:#eff5fc;
    --gris:#a5a5a5
    
    }
  
  body{
    margin: 0;
    font: 15px "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #000000;
  }
  div.burguer{
    width: 20px;
    padding: 20px;
    background-color: var(--yelow);
  }
  div.burguer img{
    display: block;
  }
  div.home{
    width: 30px;
    padding-right: 10px;
    padding-left: 10px;
   }
  .menuItem {
    padding: 15px 40px 15px 84px;
  } 
   .menuItem.active {
     border-bottom: 4px solid #dd9629;
   }
  div.home img{
    display: block;
  }

form div{
  margin-bottom: 10px;
}

  .user {
    padding-left: 20px;
    padding-right: 20px;
  }
  .toRight {
  	float: right;
  }
  .modal-content {
    width: 62%;
  }
.modal-content button{
    border-radius: 0px;
	width: 230px;
}
.modal-content button.cancelarB{
	float: right;
}
  .header {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    border-top-style: solid;
    border-color:  var(--yelow);
    border-top-width: 3px;
    border-bottom: 2px solid var(--borders);
  }
  .user img{
    width: 30px;
    height: auto;
    display: block;
  }
  
  .tabMenu {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid var(--borders);
  }
  
  .wrap {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 60px;
  }
  input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--borders);
    border-radius: 4px;
  }
  .orc label, .predictive-input-container label, .searchBox label, .modal label{
    display: block;
    margin-bottom: 5px;
  }
  textarea#descripcion {
    display: block;
    width: 100%;
    box-sizing: border-box;
  
  border-color: var(--borders);
  
  resize: none;
  
  }
  
  
  span.answ {
    display: block;
    background-color: #eaeaea;
    
    
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--borders);
    border-radius: 4px;
    
  }
  
  
  .orc form {
    margin-top: 50px;
  }
  span.calendar-icon {
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
  }
  .vc-blue {
    background-color: var(--yelow);
    border-radius: 50%;
  }
  .formField {
    margin-bottom: 25px;
    position: relative;
  }
  .vc-header {
    border-bottom: 1px solid var(--yelow);
  }
  .vc-arrow {
    background-color: transparent;
  }
  .vc-title {
    background-color: transparent;
  }
  
  
  .input-field {
  
    position: relative;
  }
  
  
  
  .custom-calendar .v-calendar .v-calendar__day--current {
    color: var(--yelow);
  }
  
  .custom-calendar .v-calendar .v-calendar__day--selected {
    background-color: var(--yelow);
    color: #ffffff;
  }
  
  
  .custom-select {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: var(--yelow);
    color: #333;
    appearance: none;
  }
  
  .custom-select:focus {
    outline: none;
    border-color: var(--borders);
  }
  button:hover {
  cursor: pointer;	
  }
  button {
    background-color: var(--yelow);
    padding: 20px 30px;
    border-style: none;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 25px;
  }
  button.etapaB {
    
    background-color: transparent;
    padding: 10px 0 10px 35px;
    border-style: none;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 25px;
    background-repeat: no-repeat;
    text-decoration: underline;
    margin-bottom: 110px;
  }
  
  button.etapaC {
    
    background-color: transparent;
    padding: 10px 0;
    border-style: none;
    font-size: 15px;
    border-radius: 30px;
    background-repeat: no-repeat;
    text-decoration: underline;
    margin-top: 0;
    width: 50%;
  }
  
  
  .predictive-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 4.2%;
    margin-bottom: 80px;
    margin-top: 90px;
    align-items: end;
  }
  
  
  
  
  
  
  
  
  .suggestions {
  
    background: white;
    border: 1px solid #ddd;
    list-style-type: none;
    margin: 4px 0 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .suggestions li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }
  
  .initials {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--yelow);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  
  .formsBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.2%;
  }
  
  .searchBox {
    margin-top: 50px;
    background-color: var(--blue);
    padding: 25px;
  }
  
  
  
  .searchCols {
    display: grid;
    grid-template-columns: 53% 1fr;
    gap: 4.2%;
    align-items: end;
  }
  
  .mitades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.2%;
  }
  
  
  div.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blue);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    z-index: 1;
  }
  th {
    color: white;
    background-color: var(--gris);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .amarillo {
    color: var(--yelow);
  }
  
  .content {
    margin-bottom: 100px;
  }
  table.registrosT {
    text-align: center;
  }